img{
    width: 50px;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(2, 46, 118, 0.8);
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: #ffffff;
}